{% macro displaySourceList(source_list) %}
{% for source in source_list%}
<div class="col-md-4 single-source"  style = 'height: auto; background-color: #fff;  box-shadow: 2px 4px 12px 2px #DCDCDC; margin: 1rem; padding-top: 1rem; padding-bottom: 1rem; border-radius: 8px;'>
    <div class="row">
        <div class="col-md-4 source-name">
            <h3> {{source.name}} </h3>
        </div>
        <div class="col-md-8 source-details">
            <p> {{source.description|truncate(150)}}
                <br>
                <a href="/source/{{source.id}}"  style = "text-decoration: none; font-weight: 600; color: #444;">Read Articles</a>
                <br>
                <a href="{{source.urlLink}}"  style = "text-decoration: none; font-weight: 600; color: #444;">Visit Source Site</a>
            </p>
        </div>
    </div>
</div>
{% endfor %}

{% if source_list|length > 3 %}
<div class=" container text-center" style = "text-decoration: none; font-weight: 600; color: #444;">
    <a href="/source_category/{{source_list[0].category}}"><h3>See more {{source_list[0].category}} news sources</h3></a>
</div>
{% endif %}

{% endmacro %}

{% macro displayCategorizedSourceList(sources) %}
{% for source in sources %}
<div class="col-xs-12 col-sm-4">
    <div class="card">
        <div class="card-content">
            <h4 class="card-title">
                {{source.name}}
            </h4>
            <p class="">
                {{source.description | truncate(100) }}
            </p>
        </div>
        <div class="card-read-more">
            <a href="/source/{{source.id}}" class="btn btn-link btn-block"  style = "text-decoration: none; font-size: 10px; font-weight: 600; color: #d2d2d2; background-color: #1B2331;">
               More from {{source.name}}
            </a>
        </div>
    </div>
</div>
{% endfor %}

{% endmacro %}


{% macro displayArticles(news_list) %}
{% for news_article in news_list %}
<div class="col-xs-12 col-sm-4">
    <div class="card">
        <a class="img-card" href="{{news_article.url}}">
            <img src="{{news_article.urlToImage}}" />
        </a>
        <div class="card-content">
            <h4 class="card-title">
                <a href="{{news_article.url}}">
                    {{news_article.article_title}}
                </a>
            </h4>
            <p class="">
                {{news_article.description }}
            </p>
            <p class="">
                <strong>Written by: {{news_article.author}}</strong> 
            </p>
            <p class="">
                {{news_article.publishedAt}}
            </p>
        </div>
        <div class="card-read-more"  style = "text-decoration: none; font-weight: 600; color: #333;">
            <a href="{{news_article.url}}" class="btn btn-link btn-block"  style = " font-size: 12px; color: #333 !important;">
                Read Story
            </a>
        </div>
    </div>
</div>
{% endfor %}

{% endmacro %}